<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/varibles.css">
    <link rel="stylesheet" href="/css/catalogue.css">
    <%- include('../common/_favicon.ejs') %>
    <title><%= settings.title %></title>
</head>
<body>

    <%- include('../common/_header.ejs') %>

    <main>
        <section class="catalogue">
            <div class="catalogue_title_wrapper">
                <h1 class="catalogue_title">#КАТАЛОГ</h1>
                <div class="search">
                    <input type="text" id="search" placeholder="Введите название">
                    <div id="search_btn">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                    </div>
                </div>
            </div>
            <div class="catalogue_products">
                <% products.forEach(product => { %>
                    <% if (product.visibility) { %>
                        <div class="catalogue_products_card">
                            <a href="/product/<%= product.id %>">
                                <div class="catalogue_products_card_image">
                                    <img src="<%= product.mainImage %>" />
                                    <img src="<%= product.supImage %>" />
                                </div>
                                <div class="catalogue_products_card_title"><%= product.title %></div>
                                <div class="catalogue_products_card_desc"><%= product.descriptionSmall %></div>
                                <div class="catalogue_products_card_price"><%= product.price.toLocaleString('ru-RU', { style: 'currency', currency: 'RUB', maximumFractionDigits: 0 }) %></div>
                            </a>
                            <div class="catalogue_products_card_sizes">
                                <% for( let i = 0; i < product.sizes.length; i++ ) { %>
                                    <span onClick="addProductToCart(<%= product.id %>, <%= product.sizes[i] %>)">
                                        <%= product.sizes[i] %>
                                    </span>
                                    <% if (i !== product.sizes.length - 1) { %>
                                        &nbsp;|&nbsp;
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                <% }) %>
            </div>
        </section>
    </main>
    <script src="/scripts/shopCart/addProductToCart.js"></script>
    <script src="/scripts/catalogue/sort.js"></script>

    <%- include('../common/_footer.ejs') %>

</body>
</html>