<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/varibles.css">
    <link rel="stylesheet" href="/css/catalogue.css">
    <%- include('../common/_favicon.ejs') %>
    <title><%= settings.title %></title>
</head>
<body>

    <%- include('../common/_header.ejs') %>

    <main>
        <section class="catalogue">
            <div class="catalogue_title_wrapper">
                <h1 class="catalogue_title">#КАТАЛОГ</h1>
                <select id="sort">
                    <option disabled selected style="display: none;">Сортировка</option>
                    <option>По убыванию цены</option>
                    <option>По возрастанию цены</option>
                    <option>По наличию</option>
                </select>
            </div>
            <div class="catalogue_products">
                <% products.forEach(product => { %>
                    <div class="catalogue_products_card">
                        <a href="/product/<%= product.id %>">
                            <div class="catalogue_products_card_image">
                                <img src="<%= product.mainImage %>" />
                                <img src="<%= product.supImage %>" />
                            </div>
                            <div class="catalogue_products_card_title"><%= product.title %></div>
                            <div class="catalogue_products_card_desc"><%= product.descriptionSmall %></div>
                            <div class="catalogue_products_card_price"><%= product.price.toLocaleString('ru-RU', { style: 'currency', currency: 'RUB', maximumFractionDigits: 0 }) %></div>
                        </a>
                        <div class="catalogue_products_card_sizes">
                            <% for( let i = 0; i < product.sizes.length; i++ ) { %>
                                <span onClick="addProductToCart(<%= product.id %>, <%= product.sizes[i] %>)">
                                    <%= product.sizes[i] %>
                                </span>
                                <% if (i !== product.sizes.length - 1) { %>
                                    &nbsp;|&nbsp;
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </section>
    </main>
    <script src="/scripts/shopCart/addProductToCart.js"></script>

    <%- include('../common/_footer.ejs') %>

</body>
</html>