<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/varibles.css">
    <link rel="stylesheet" href="./css/main.css">
    <%- include('../common/_favicon.ejs') %>
    <title><%= settings.title %></title>
</head>
<body>

    <%- include('../common/_header.ejs') %>

    <main>
        <section class="banner">
            <img src="images/banner/banner_red_v2.jpg" alt="banner" />
        </section>
        <section class="tips">
            <div class="tips_street_history">
                <h3>#ИСТОРИЯ УЛИЦ</h3>
                <div class="tips_street_history_collage">
                    <div><img src="./images/collage/1.png" alt="sneakers photo"></div>
                    <div><img src="./images/collage/2.png" alt="sneakers photo"></div>
                    <div><img src="./images/collage/3.png" alt="sneakers photo"></div>
                    <div><img src="./images/collage/4.png" alt="sneakers photo"></div>
                    <div><img src="./images/collage/5.png" alt="sneakers photo"></div>
                    <div><img src="./images/collage/6.png" alt="sneakers photo"></div>
                    <div><img src="./images/collage/7.png" alt="sneakers photo"></div>
                    <div><img src="./images/collage/8.png" alt="sneakers photo"></div>
                    <div><img src="./images/collage/9.png" alt="sneakers photo"></div>
                </div>
            </div>
            <div class="tips_easy_buy">
                <h3>#ПОКУПАТЬ ПРОСТО</h3>
                <div class="tips_easy_buy_content">
                    <div class="tips_easy_buy_content_card">
                        <div>
                            <svg width="154" height="154" viewBox="0 0 154 154" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.25 57.75V124.483C19.25 128.077 19.25 129.873 19.9494 131.245C20.5646 132.453 21.5455 133.436 22.7529 134.051C24.1241 134.75 25.9201 134.75 29.5068 134.75H96.2506M109.083 51.3333L83.4167 77L70.5833 64.1667M44.9167 88.5513V39.7846C44.9167 32.5972 44.9167 29.0009 46.3154 26.2557C47.5458 23.8409 49.5076 21.8791 51.9224 20.6488C54.6676 19.25 58.2639 19.25 65.4513 19.25H114.218C121.405 19.25 124.997 19.25 127.742 20.6488C130.157 21.8791 132.122 23.8409 133.352 26.2557C134.751 29.0009 134.751 32.5947 134.751 39.7819V88.5487C134.751 95.736 134.751 99.33 133.352 102.075C132.122 104.49 130.157 106.456 127.742 107.686C125 109.083 121.413 109.083 114.24 109.083H65.4301C58.2569 109.083 54.6649 109.083 51.9224 107.686C49.5076 106.456 47.5458 104.49 46.3154 102.076C44.9167 99.3306 44.9167 95.7386 44.9167 88.5513Z" stroke="#676767" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" />
                              </svg>
                        </div>
                        <p>Выберите товар в интренет магазине.</p>
                    </div>
                    <div class="tips_easy_buy_content_card">
                        <div>
                            <svg width="108" height="108" viewBox="0 0 108 108" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_30_49)">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M74.25 87.75C77.976 87.75 81 90.774 81 94.5C81 98.226 77.976 101.25 74.25 101.25C70.524 101.25 67.5 98.226 67.5 94.5C67.5 90.774 70.524 87.75 74.25 87.75ZM60.75 94.5C60.75 101.955 66.7946 108 74.25 108C81.7054 108 87.75 101.955 87.75 94.5C87.75 87.0446 81.7054 81 74.25 81C66.7946 81 60.75 87.0446 60.75 94.5ZM20.25 20.25H101.25L92.6201 54.7729L20.25 60.75V20.25ZM27 74.25C23.274 74.25 20.25 71.226 20.25 67.5L97.875 60.75C97.875 60.75 108 19.8281 108 16.875C108 15.0086 106.491 13.5 104.625 13.5H20.25V6.75H23.625C25.4914 6.75 27 5.24137 27 3.375C27 1.512 25.4914 0 23.625 0H3.375C1.50863 0 0 1.512 0 3.375C0 5.24137 1.50863 6.75 3.375 6.75H13.5V67.5C13.5 74.9554 19.5446 81 27 81H104.625C104.73 81 104.625 77.6554 104.625 74.25H27ZM33.75 87.75C37.476 87.75 40.5 90.774 40.5 94.5C40.5 98.226 37.476 101.25 33.75 101.25C30.024 101.25 27 98.226 27 94.5C27 90.774 30.024 87.75 33.75 87.75ZM20.25 94.5C20.25 101.955 26.2946 108 33.75 108C41.2054 108 47.25 101.955 47.25 94.5C47.25 87.0446 41.2054 81 33.75 81C26.2946 81 20.25 87.0446 20.25 94.5Z" fill="#676767" />
                                </g>
                                <defs>
                                  <clipPath id="clip0_30_49">
                                    <rect width="108" height="108" fill="white" />
                                  </clipPath>
                                </defs>
                              </svg>
                        </div>
                        <p>Добавьте товары в корзину.</p>
                    </div>
                    <div class="tips_easy_buy_content_card">
                        <div>
                            <svg width="145" height="145" viewBox="0 0 145 145" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M48.3334 30.2086C42.3621 30.2133 39.2321 30.2892 36.806 31.5254C34.5323 32.6838 32.6838 34.5323 31.5254 36.806C30.2084 39.3907 30.2084 42.7743 30.2084 49.5417V107.542C30.2084 114.309 30.2084 117.693 31.5254 120.278C32.6838 122.551 34.5323 124.4 36.806 125.558C39.3907 126.875 42.7744 126.875 49.5417 126.875H95.4584C102.226 126.875 105.61 126.875 108.194 125.558C110.468 124.4 112.316 122.551 113.475 120.278C114.792 117.693 114.792 114.309 114.792 107.542V49.5417C114.792 42.7743 114.792 39.3907 113.475 36.806C112.316 34.5323 110.468 32.6838 108.194 31.5254C105.768 30.2892 102.638 30.2133 96.6667 30.2086M48.3334 30.2086V42.2917H96.6667V30.2086M48.3334 30.2086V28.4388C48.3334 25.7034 49.42 23.08 51.3542 21.1458C53.2884 19.2117 55.9117 18.125 58.6472 18.125H86.353C89.088 18.125 91.7119 19.2117 93.6459 21.1458C95.5798 23.08 96.6667 25.7034 96.6667 28.4388V30.2086M90.625 72.5H72.5M90.625 96.6667H72.5M54.375 72.5H54.4355M54.375 96.6667H54.4355" stroke="#676767" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" />
                              </svg>
                        </div>
                        <p>Оформите заказ.</p>
                    </div>
                </div>
            </div>
        </section>
        
        <%- include('../common/_popular.ejs') %>

        <section class="brands">
            <img src="./images/main_logos/Brands.png" alt="companies" />
        </section>
    </main>

    <%- include('../common/_footer.ejs') %>

    <script src="./scripts/scrollHeader.js"></script>
    
</body>
</html>