<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/varibles.css">
    <link rel="stylesheet" href="/css/productCardPage.css">
    <%- include('../common/_favicon.ejs') %>
    <title><%= settings.title %></title>
</head>
<body>
    <%- include('../common/_header.ejs') %>

    <main>
        <section class="product">
            <div class="product_wrapper">
                <div class="product_image">
                    <img src="<%= product.supImage %>" />
                </div>
                <div class="product_info">
                    <div class="product_info_top">
                        <h1 class="product_info_title"><%= product.title %></h1>
                        <div class="product_info_price"><%= product.price.toLocaleString('ru-RU', { style: 'currency', currency: 'RUB', maximumFractionDigits: 0 }) %></div>
                        <p class="product_info_desc">
                            <%= product.description %>
                        </p>
                    </div>
                    <div class="product_info_bottom">
                        <div class="product_info_sizes">
                            <select id="sizeField">
                                <option disabled selected style="display: none;">РАЗМЕР</option>
                                <% for( let i = 0; i < product.sizes.length; i++ ) { %>
                                     <option><%= product.sizes[i] %></option>
                                <% } %>
                            </select>
                        </div>
                        <button value="<%= product.id %>" id="addToCartBtn">В КОРЗИНУ</button>
                    </div>
                </div>
            </div>
        </section>
        <script src="/scripts/productCard/productCard.js"></script>

        <%- include('../common/_popular.ejs') %>

    </main>

    <%- include('../common/_footer.ejs') %>

</body>
</html>